{% extends "base.html" %} {% block content %} {% load static %} {% load i18n %} {% block css %}
<!-- <link rel="stylesheet" href="{% static 'styles/homepage/styles.css' %}" />
<link rel="stylesheet" media="screen and (max-width: 1050px)" href="{% static 'styles/homepage/mobile.css' %}"/> -->
{% endblock %}

<h3>{% translate "enter new password" %}</h3>
<span id="error-msg" class="m-1 text-danger"></span>
    <form id="email-form" method="POST">
      {% csrf_token %}
      {{ form }}
      <br>
      <button type="submit" class="btn btn-primary m-1">{% translate "submit" %}</button>
    </form>
</div>

<input id="placeholder-text1" type="hidden" value="{% translate 'password' %}">
<input id="placeholder-text2" type="hidden" value="{% translate 'repeat password' %}">
<input id="path" type="hidden" value="{{ request.path }}">
<script>
  $('label[for="id_new_password1"]').hide()
  $('label[for="id_new_password2"]').hide()
  document.getElementsByClassName('helptext')[0].classList.add('d-none')
  const input1 = document.getElementById('id_new_password1')
  const input2 = document.getElementById('id_new_password2')

  input1.classList.add('form-control','m-2')
  input2.classList.add('form-control','m-2')

  input1.placeholder = document.getElementById('placeholder-text1').value
  input2.placeholder = document.getElementById('placeholder-text2').value

  // errors 
  const error = document.getElementsByClassName('errorlist')[0]
  error.classList.add('d-none')
  const msg = error.children[0].innerHTML
  const messages = {'The two password fields didn’t match.': 'Polji za geslo se nista ujemali.',
  'This password is too short. It must contain at least 8 characters.':'To geslo je prekratko. Vsebovati mora vsaj 8 znakov.',
  'This password is too common.':'To geslo je prepogosto.',
  'This password is entirely numeric.': 'To geslo je v celoti številčno.',
  'The password is too similar to the email.':'Geslo je preveč podobno e-naslov.',
  'The password is too similar to the username.': 'Geslo je preveč podobno uporabniškemu imenu.'}
  
  const path = document.getElementById('path')
  const lang = path.value.slice(0,3)
  if (lang == '/sl'){
    document.getElementById('error-msg').innerHTML = messages[msg]
  } else {
    document.getElementById('error-msg').innerHTML = msg
  }
  
</script>
{% endblock %}