{% extends "base.html" %} {% block content %} {% load static %} {% load i18n %} {% block css %}
<!-- <link rel="stylesheet" href="{% static 'styles/homepage/styles.css' %}" />
<link rel="stylesheet" media="screen and (max-width: 1050px)" href="{% static 'styles/homepage/mobile.css' %}"/> -->
{% endblock %}

 
<h3>{% translate "password reset" %}</h3>
    <form id="email-form" method="POST">
      {% csrf_token %}
      {{ form }}
      <br>
      <button class="btn btn-primary m-1" onclick="onSubmit()">{% translate "send email" %}</button>
    </form>
     
      <div id="spinner" class="spinner-border text-info invisible" role="status"></div>

      <input id="placeholder-text" type="hidden" value="{% translate 'email' %}">
<script>
  $('label[for="id_email"]').hide()
  

  const input = document.getElementById('id_email')
  input.placeholder = document.getElementById('placeholder-text').value
  input.classList.add('form-control','m-2')

  function onSubmit(){
    document.getElementById('spinner').classList.remove('invisible')
    document.getElementById('email-form').classList.add('d-none')
  }
</script>
{% endblock %}