{% extends "base.html" %} {% block content %} 
{% load static %}
{% load i18n %}
{% block css  %}
<link rel="stylesheet" href="{% static 'styles/create/react.css' %}" />
{% endblock %}
<h3 class="page-header"><span class="text-danger">create </span><span>alternates: </span><span class="text-info">{{ entry.eng }}</span></h3>
<a href="{% url 'create:lessons' level %}" class="btn btn-info" >return to level {{ level }}</a>
<input type="hidden" value="{{ csrf_token }}" id="csrf-token">
<input type="hidden" value="{{ base_url }}" id="base-url">
<input type="hidden" value="{{ aws_clips_base_url }}" id="aws_clips_base_url">
{{ 'false' | json_script:'format' }}
{{ 'true' | json_script:'create' }}
{{ 'true' | json_script:'alts' }}
{{ entry|safe | json_script:'altEntry' }}
{{ lesson|safe | json_script:'lesson' }}
{% if not entries %}
{{ "null"|safe | json_script:'entries' }}
{% else %}
{{ entries|safe | json_script:'entries' }}
{% endif %}
{% if not alts %}
{{ "null"|safe | json_script:'altsArr' }}
{% else %}
{{ alts|safe | json_script:'altsArr' }}

{% endif %}

{{ homework|safe | json_script:'homework' }}
<div id="app">
        
</div>
<script   src="{% static 'react-app/build/main.js' %}"></script>
{% endblock %}